<html>
    <head>
        <title>Расписание</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css?"/>
        <link rel="stylesheet" href="/css/dent.css?"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
        <style>
            .day, .times {
                height: calc(50px * {{times_size}});
            }
        </style>
    </head>
    <body>
        <nav>
            <div class="group">
                <a title="Предыдущая неделя" class="button" id="prev" href="{{prev}}" style="font-size: 14px"><i class="bi bi-chevron-left"></i></a>
                <a title="Текущая неделя" class="button" id="prev" href="0" style="font-size: 14px"><i class="bi bi-calendar-event"></i></a>
                <a title="Следущая неделя" class="button" id="next" href="{{next}}" style="font-size: 14px"><i class="bi bi-chevron-right"></i></a>
            </div>
            <br>
            <div class="month">

            </div>
            <br>
            <div id="doctors">
                {{#each doctors}}
                    <div class="list-item {{#if @first}}selected{{/if}}" onclick="select_doc(this);" doc="{{this.id}}">{{this.fio}}</div>
                {{/each}}
            </div>
        </nav>
        <main>
            <div class="dates" id="dates">
                {{#each dates}}
                    {{{this}}}
                {{/each}}
            </div>
            <div class="calendar" id="calendar">
                <div id="times" class="times">
                    {{#each times}}
                        {{{this}}}
                    {{/each}}
                </div>
                {{{slots}}}
            </div>
        </main>

        <div class="box modal" id="new_record">
            <input type="text" class="text" name="fio" placeholder="ФИО" autofocus/>
            <br>
            <input type="tel" class="text" name="phone" placeholder="Телефон"/>
            <br>
            <button class="success" onclick="register();">Записать</button>
            <button class="danger" onclick="hide_modal('#new_record');">Отмена</button>
        </div>
    </body>
    <script type="text/javascript">
        var doc = $('#doctors > .selected').attr('doc');
        $(".slot > .box[doc!='" + doc + "']").css("display", "none");
        $(".slot > .box[doc='" + doc + "']").css("display", "block");
    </script>
</html>