<html>
<head>
    <title>Пациенты</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?"/>
    <link rel="stylesheet" href="/css/dent.css?"/>
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <style>

    </style>
</head>
<body>
<div class="container">
    <nav>
        <div id="menu" class="group">
            <a title="Расписание" class="button" href="/week/0" style="font-size: 14px;"><i class="bi bi-calendar3"></i></a>
            <a title="Справочники" class="button" href="/reference/" style="font-size: 14px;"><i class="bi bi-card-list"></i></a>
            <a title="Пациенты" class="button selected" href="/patient" style="font-size: 14px"><i class="bi bi-people"></i></a>
            <a title="Статистика" class="button disabled" href="/statistics" style="font-size: 14px"><i class="bi bi-graph-up"></i></a>
            <a title="Swagger" class="button disabled" href="/gcg/swagger-ui" style="font-size: 14px"><i class="bi bi-gear"></i></a>
        </div>
        <div id="unattached">
            {{#each clients}}
                <div class="list-item center" cid='{{this.id}}'><b>{{this.fio}}</b> ({{this.phone}})</div>
            {{/each}}
        </div>
    </nav>
    <main class="reference">
        <div class="list-item success bold" pid='0'>Добавить пациента</div>
        {{#each patients}}
            <div class="list-item" onclick="location.href='/patient/{{this.id}}'"><b>{{this.fio}}</b> ({{this.phone}}) {{this.address}}</div>
        {{/each}}
    </main>
</div>
</body>
<script type="text/javascript">

</script>
</html>