<html>
<head>
    <title>Пациент</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?"/>
    <link rel="stylesheet" href="/css/dent.css?"/>
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <style>

    </style>
</head>
<body>
<div class="container">
<nav>
    <div id="menu" class="group">
        <div id="menu" class="group">
            <a title="Расписание" class="button" href="/week/0" style="font-size: 14px;"><i class="bi bi-calendar3"></i></a>
            <a title="Справочники" class="button" href="/reference/" style="font-size: 14px;"><i class="bi bi-card-list"></i></a>
            <a title="Пациенты" class="button selected" href="/patient" style="font-size: 14px"><i class="bi bi-people"></i></a>
            <a title="Статистика" class="button disabled" href="/statistics" style="font-size: 14px"><i class="bi bi-graph-up"></i></a>
            <a title="Swagger" class="button disabled" href="/gcg/swagger-ui" style="font-size: 14px"><i class="bi bi-gear"></i></a>
        </div>
    </div>
</nav>
<main>
    <div class="box" pid="{{patient.id}}" style="height: fit-content">
        <div class="item" name="fio">ФИО:&nbsp;<b>{{patient.fio}}</b></div>
        <div class="item" name="phone">Телефон:&nbsp;<b>{{patient.phone}}</b></div>
        <div class="item" name="address">Адрес:&nbsp;<b>{{patient.address}}</b></div>
        <div class="item" name="findOut">Откуда узнал о компании:&nbsp;<b>{{patient.findOut.name}}</b></div>
        <div class="item" name="card" cid="{{patient.card.id}}">Мед.карта <b>№{{patient.card.number}}</b> от <b>{{patient.card.date}}г.</b></div>
        <div class="item">&nbsp;</div>
    </div>
    <br>
        <div class="box" id="history_list" style="overflow-y: scroll;padding:0">
            <div class="list-item success bold center" hid="0" onclick="history_modal(this, '#modal_history')">Добавить карту эпиданамнеза</div>
            {{#each patient.card.history}}
                <div class="list-item center" hid="{{this.id}}" did="{{this.contract.id}}" onclick="history_modal(this, '#modal_history')">Карта эпиданамнеза от {{this.date}}г. (договор №{{this.contract.number}} от {{this.contract.date}}г.)</div>
            {{/each}}
    </div>
</main>
</div>

<div id="modal_history" class="box modal">
    <div class="header"><span id="header_text"></span><i class="bi bi-x button danger" style="float:right;padding:0" title="Закрыть" onclick="hide_modal('#modal_history');"></i></div>
    <input type="hidden" name="hid"/>
    <input type="hidden" name="did"/>
    Жалобы:<br>
    <input type="text" class="text" name="props.complaints"/>
    <br>
    <div class="text" id="props_gepatit" style="cursor:pointer;width:auto;">
        <input type="checkbox" name="props.gepatit" style="margin:0;margin-top:3px;min-width:15px;width:15px;min-height:15px;"/>
        <div style="display:inline-block;margin-top:-3px;vertical-align: text-top;">Является ли больным или носителем вирусного гепатита A, B, C</div>
    </div>

    <div class="text" id="props_tuberkules" style="cursor:pointer;width:auto;">
        <input type="checkbox" name="props.tuber" style="margin:0;margin-top:3px;min-width:15px;width:15px;min-height:15px;"/>
        <div style="display:inline-block;margin-top:-3px;vertical-align: text-top;">Является ли больным или носителем туберкулеза</div>
    </div>

    <div class="text" id="props_pedikules" style="cursor:pointer;width:auto;">
        <input type="checkbox" name="props.pedi" style="margin:0;margin-top:3px;min-width:15px;width:15px;min-height:15px;"/>
        <div style="display:inline-block;margin-top:-3px;vertical-align: text-top;">Наличие педикулеза у пациента</div>
    </div>

    <br>
    Наличие у пациента травм, ожогов, переливания крови, операций за последние 6 месяцев (если да, указать место и время):<br>
    <input type="text" class="text" name="props.break"/>
    <br>
    Были ли у пациента эндоскопические, гинекологические манипуляции (если да, указать место и время):<br>
    <input type="text" class="text" name="props.manipulation"/>
    <br>
    Склонность к рецидивирующим или остро распространенным заболеваниям полости рта (при наличии указать срок давности):<br>
    <input type="text" class="text" name="porps.sick"/>
    <br>
    Дата последнего обращения к врачу-стоматологу с указанием манипуляций: лечение, протезирование, удаление:<br>
    <input type="text" class="text" name="props.visit"/>
    <br>
    Наличие аллергических реакций:<br>
    <input type="text" class="text" name="props.allergy"/>
    <br>
    Данные объективного исследования, внешний осмотр:<br>
    <input type="text" class="text" name="props.outer"/>

    <br>
    Осмотр полости рта. Состояние зубов <br>(<span style="color:rgb(212, 51, 63);font-weight:bold;">O</span>-Отсутствие, <span style="color:rgb(212, 51, 63);font-weight:bold;">R</span>-Корень,&nbsp;
    <span style="color:rgb(212, 51, 63);font-weight:bold;">C</span>-Кариес, <span style="color:rgb(212, 51, 63);font-weight:bold;">P</span>-Пульпит,&nbsp;
    <span style="color:rgb(212, 51, 63);font-weight:bold;">Pt</span>-Периодонтит, <span style="color:rgb(212, 51, 63);font-weight:bold;">П</span>-Пломба,&nbsp;
    <span style="color:rgb(212, 51, 63);font-weight:bold;">A</span>-Парадонтоз, <span style="color:rgb(212, 51, 63);font-weight:bold;">K</span>-Коронка,&nbsp;
    <span style="color:rgb(212, 51, 63);font-weight:bold;">И</span>-Искусст.зуб, <span style="color:rgb(212, 51, 63);font-weight:bold;">1</span>,<span style="color:rgb(212, 51, 63);font-weight:bold;">2</span>,<span style="color:rgb(212, 51, 63);font-weight:bold;">3</span>-Подвижность (1,2,3 степень)):
    <table id="dent_status">
        <tr>
            <td>{{> views/part/dent_state tr="3" td="8" half="left"}}</td>
            <td>{{> views/part/dent_state tr="3" td="7" half="left"}}</td>
            <td>{{> views/part/dent_state tr="3" td="6" half="left"}}</td>
            <td>{{> views/part/dent_state tr="3" td="5" half="left"}}</td>
            <td>{{> views/part/dent_state tr="3" td="4" half="left"}}</td>
            <td>{{> views/part/dent_state tr="3" td="3" half="left"}}</td>
            <td>{{> views/part/dent_state tr="3" td="2" half="left"}}</td>
            <td>{{> views/part/dent_state tr="3" td="1" half="left"}}</td>

            <td>{{> views/part/dent_state tr="3" td="1" half="right"}}</td>
            <td>{{> views/part/dent_state tr="3" td="2" half="right"}}</td>
            <td>{{> views/part/dent_state tr="3" td="3" half="right"}}</td>
            <td>{{> views/part/dent_state tr="3" td="4" half="right"}}</td>
            <td>{{> views/part/dent_state tr="3" td="5" half="right"}}</td>
            <td>{{> views/part/dent_state tr="3" td="6" half="right"}}</td>
            <td>{{> views/part/dent_state tr="3" td="7" half="right"}}</td>
            <td>{{> views/part/dent_state tr="3" td="8" half="right"}}</td>
        </tr>
        <tr>
            <td>{{> views/part/dent_state tr="2" td="8" half="left"}}</td>
            <td>{{> views/part/dent_state tr="2" td="7" half="left"}}</td>
            <td>{{> views/part/dent_state tr="2" td="6" half="left"}}</td>
            <td>{{> views/part/dent_state tr="2" td="5" half="left"}}</td>
            <td>{{> views/part/dent_state tr="2" td="4" half="left"}}</td>
            <td>{{> views/part/dent_state tr="2" td="3" half="left"}}</td>
            <td>{{> views/part/dent_state tr="2" td="2" half="left"}}</td>
            <td>{{> views/part/dent_state tr="2" td="1" half="left"}}</td>

            <td>{{> views/part/dent_state tr="2" td="1" half="right"}}</td>
            <td>{{> views/part/dent_state tr="2" td="2" half="right"}}</td>
            <td>{{> views/part/dent_state tr="2" td="3" half="right"}}</td>
            <td>{{> views/part/dent_state tr="2" td="4" half="right"}}</td>
            <td>{{> views/part/dent_state tr="2" td="5" half="right"}}</td>
            <td>{{> views/part/dent_state tr="2" td="6" half="right"}}</td>
            <td>{{> views/part/dent_state tr="2" td="7" half="right"}}</td>
            <td>{{> views/part/dent_state tr="2" td="8" half="right"}}</td>
        </tr>
        <tr>
            <td>{{> views/part/dent_state tr="1" td="8" half="left"}}</td>
            <td>{{> views/part/dent_state tr="1" td="7" half="left"}}</td>
            <td>{{> views/part/dent_state tr="1" td="6" half="left"}}</td>
            <td>{{> views/part/dent_state tr="1" td="5" half="left"}}</td>
            <td>{{> views/part/dent_state tr="1" td="4" half="left"}}</td>
            <td>{{> views/part/dent_state tr="1" td="3" half="left"}}</td>
            <td>{{> views/part/dent_state tr="1" td="2" half="left"}}</td>
            <td>{{> views/part/dent_state tr="1" td="1" half="left"}}</td>

            <td>{{> views/part/dent_state tr="1" td="1" half="right"}}</td>
            <td>{{> views/part/dent_state tr="1" td="2" half="right"}}</td>
            <td>{{> views/part/dent_state tr="1" td="3" half="right"}}</td>
            <td>{{> views/part/dent_state tr="1" td="4" half="right"}}</td>
            <td>{{> views/part/dent_state tr="1" td="5" half="right"}}</td>
            <td>{{> views/part/dent_state tr="1" td="6" half="right"}}</td>
            <td>{{> views/part/dent_state tr="1" td="7" half="right"}}</td>
            <td>{{> views/part/dent_state tr="1" td="8" half="right"}}</td>
        </tr>
        <tr>
            <th>8</th><th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th>
            <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th>
        </tr>
        <tr>
            <td>{{> views/part/dent_state tr="-1" td="8" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="7" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="6" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="5" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="4" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="3" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="2" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="1" half="left"}}</td>

            <td>{{> views/part/dent_state tr="-1" td="1" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="2" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="3" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="4" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="5" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="6" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="7" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-1" td="8" half="right"}}</td>
        </tr>
        <tr>
            <td>{{> views/part/dent_state tr="-2" td="8" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="7" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="6" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="5" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="4" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="3" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="2" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="1" half="left"}}</td>

            <td>{{> views/part/dent_state tr="-2" td="1" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="2" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="3" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="4" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="5" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="6" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="7" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-2" td="8" half="right"}}</td>
        </tr>
        <tr>
            <td>{{> views/part/dent_state tr="-3" td="8" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="7" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="6" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="5" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="4" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="3" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="2" half="left"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="1" half="left"}}</td>

            <td>{{> views/part/dent_state tr="-3" td="1" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="2" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="3" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="4" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="5" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="6" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="7" half="right"}}</td>
            <td>{{> views/part/dent_state tr="-3" td="8" half="right"}}</td>
        </tr>
    </table>
    <br>
    Прикус:<br>
    <input type="text" class="text" name="props.bite"/>
    <br>
    Состояние слизистой обочки рта, десен, альвеолярных отростков и неба:<br>
    <input type="text" class="text" name="props.mucous"/>
    <br>
    Данные рентгеновских лабораторных исследований:<br>
    <input type="text" class="text" name="props.lab"/>
    <br>
    <br>
    Диагноз:<br>
    <input type="text" class="text" name="props.diagnosis"/>
    <br>
    <div class="footer">
        <button class="warning" onclick="open_contract();">Открыть договор</button>
        <button class="success" onclick="save_history();">Сохранить</button>
    </div>
</div>

</body>
<script type="text/javascript">

</script>
</html>