<html>
<head>
    <title>Пациент</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?"/>
    <link rel="stylesheet" href="/css/dent.css?"/>
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <style>

    </style>
</head>
<body>
<div class="container">
<nav>
    <div id="menu" class="group">
        <a title="Расписание" class="button" href="/week/0"><i class="bi bi-calendar3"></i></a>
        <a title="Справочники" class="button" href="/reference/"><i class="bi bi-card-list"></i></a>
        <a title="Пациенты" class="button selected" href="/patient"><i class="bi bi-people"></i></a>
        <a title="Статистика" class="button" href="/statistics"><i class="bi bi-graph-up"></i></a>
    </div>
    <br>
    <div id="menu2">
        <div class="list-item selected" onclick="show_box(this)" box="history_list" cid="{{patient.card.id}}">Мед.карта №{{patient.card.number}} от {{patient.card.date}}г.</div>
        <div class="list-item" onclick="show_box(this)" box="contract_list">Договора</div>
        <div class="list-item" onclick="show_box(this)" box="act_list">Акты</div>
        <div class="list-item" onclick="show_box(this)" box="other_list">Прочие документы</div>
    </div>
</nav>
<main>
    <div class="box" id="history_list" style="padding:0">
        <div class="list-item success bold center" hid="0" onclick="history_modal(this, '#modal_history')">Добавить карту эпиданамнеза</div>
        {{#each patient.card.history}}
            <div class="list-item center" uid="{{card_uid.id}}" hid="{{this.id}}" did="{{this.contract.id}}" onclick="history_modal(this, '#modal_history')">Карта эпиданамнеза от {{this.date}}г. (договор №{{this.contract.number}} от {{this.contract.date}}г.)</div>
        {{/each}}
    </div>
    <div class="box" id="contract_list" style="padding:0">
        {{#each patient.card.history}}
            <div class="list-item center" uid="{{contract_uid.id}}" did="{{this.contract.id}}" number="{{this.contract.number}}" date="{{this.contract.date}}" onclick="contract_modal(this, '#modal_contract')">Договор №{{this.contract.number}} от {{this.contract.date}}г.</div>
        {{/each}}
    </div>
    <div class="box" id="act_list" style="padding:0">
        <div class="list-item center success bold" uid="{{act_uid.id}}" aid="0" onclick="act_modal(this, '#modal_act')">Добавить акт</div>
        {{#each patient.card.history}}
            {{#each this.contract.acts}}
                <div class="list-item center" uid="{{act_uid.id}}" aid="{{this.id}}" number="{{this.number}}" date="{{this.date}}" did="{{this.contract.id}}" atid="{{this.actType.id}}" doc="{{this.doctor.id}}" onclick="act_modal(this, '#modal_act')">Акт ({{this.actType.name}}) №{{this.number}} от {{this.date}}г.</div>
            {{/each}}
        {{/each}}
    </div>
    <div class="box" id="other_list" style="padding:0">
        {{#each docs}}
             <div class="list-item center" uid="{{this.id}}" onclick="show_modal(this, '#document_modal');">{{this.name}}</div>
        {{/each}}
    </div>
</main>
</div>

{{> views/part/modal_history }}
{{> views/part/modal_contract }}
{{> views/part/modal_act }}

<div id='document_modal' class="box modal">
    <div class="header"><span id="header_text"></span><i class="bi bi-x button danger" style="float:right;padding:0" title="Закрыть" onclick="hide_modal('.modal');"></i></div>
    <input type="hidden" name="uid"/>
    <input type="hidden" name="params"/>
    <div class="body">
        <span class="bold">Договор:</span><br>
        <select class="text" name="contract" >
            <option value="0" selected disabled></option>
            {{#each patient.card.history}}
                <option value="{{this.contract.id}}">№{{this.contract.number}} от {{this.contract.date}}г.</option>
            {{/each}}
        </select>
    </div>
    <div class="footer">
        <button class="info" onclick="download_document(this);"><i class="bi bi-download"></i>&nbsp;Скачать</button>
    </div>
</div>

</body>
<script type="text/javascript">
    $('main .box').css('display', 'none');
    $('main .box#history_list').css('display', 'block');

    $("#modal_act select[name='atid']").change(function() {
        fill_services("#modal_act");
    });

    fill_services("#modal_act");

    function fill_services(id) {
        $(id + " select[name='service']").empty();
        $.ajax({
            url: "/api/service/type/" + Number($(id + " select[name='atid']").val()),
            method: "GET"
        }).done(function(service) {
            service.forEach(function(s) {
                $(id + " select[name='service']").append("<option value='" + s.id + "'>" + s.name + "</option>");
            });
            $(id).center();
        });
    }

    function show_box(base) {
        $('#menu2 .list-item').removeClass('selected');
        $(base).addClass('selected');
        var box_id = $(base).attr('box');
        $('main .box').css('display', 'none');
        $('main .box#' + box_id).css('display', 'block');
    }

    function show_modal(e, id) {
        $(id).css("display", "block");
        $(id + " .header #header_text").text($(e).text());
        var uid = Number($(e).attr("uid"));
        $(id + " input[name='uid']").val(uid);
        $(id + " input[name='params']").val("&card={{patient.card.id}}&patient={{patient.id}}");

        $(id).center();
        var cover = $("<div class='cover' onclick=\"hide_modal('.modal');\"></div>");
        $(id).before(cover);
    }

    function act_modal(e, id) {
        $(id).css("display", "block");
        $(id + " .header #header_text").text($(e).text());

        $(id + " input[name='uid']").val(Number($(e).attr('uid')));
        $(id + " input[name='params']").val("&patient={{patient.id}}&act=" + $(e).attr('aid'));
        $(id + " input[name='aid']").val($(e).attr('aid'));

        if(Number($(e).attr('aid')) > 0) {
            fill_services(id);
            $(id + " input[name='number']").val($(e).attr('number'));
            var day = $(e).attr('date').substr(0, 2);
            var month = $(e).attr('date').substr(3, 2);
            var date = $(e).attr('date').substr(6, 4) + "-" + (month) + "-" + (day);
            $(id + " input[name='date']").val(date);
            $(id + " select[name='did']").val($(e).attr('did')).change();
            $(id + " select[name='atid']").val($(e).attr('atid')).change();
            $(id + " select[name='doc']").val($(e).attr('doc')).change();

            $.ajax({
                url: "/api/act/" + Number($(e).attr('aid')),
                method: "GET"
            }).done(function(act) {
                $(id + " #services_list").filter(function(index) {return index > 0;}).remove();
                act.actServices.forEach(function (as) {
                    $(id + " #services_list").append("<tr sid=\"" + as.service.id + "\" count=\"" + as.amount + "\"><td>" + as.service.name + "</td><td>" + as.amount + "</td><td><button class=\"danger\" onclick=\"rm_service(" + as.service.id + ");\"><i class=\"bi bi-trash\"></i>&nbsp;&nbsp;Удалить</button></td></tr>");
                });
            });

        } else {
            $(id).center();
            $(id + " #services_list").filter(function(index) {return index > 0;}).remove();
        }

        $(id + " input:first").focus();
        var cover = $("<div class='cover' onclick=\"hide_modal('.modal');\"></div>");
        $(id).before(cover);
    }

    function download_document(t) {
        var uid = $(t).parent().parent().find("input[name='uid']").val();
        var params = $(t).parent().parent().find("input[name='params']").val();
        var contract = Number($(t).parent().parent().find("select[name='contract']").val());
        params = params + (contract > 0 ? "&contract=" + contract : "");
        console.warn("uid=" + uid + params);
        hide_modal('.modal');
        window.open("/api/document/download?uid=" + uid + params);
    }

    function contract_modal(e, id) {
        $(id).css("display", "block");
        $(id + " .header #header_text").text($(e).text());

        $(id + " input[name='uid']").val(Number($(e).attr('uid')));
        $(id + " input[name='params']").val("&patient={{patient.id}}&contract=" + $(e).attr('did'));
        $(id + " input[name='did']").val($(e).attr('did'));

        $(id + " input[name='number']").val($(e).attr('number'));
        var day = $(e).attr('date').substr(0, 2);
        var month = $(e).attr('date').substr(3, 2);
        var date = $(e).attr('date').substr(6, 4) + "-" + (month) + "-" + (day);
        $(id + " input[name='date']").val(date);

        $(id + " input:first").focus();
        $(id).center();
        var cover = $("<div class='cover' onclick=\"hide_modal('.modal');\"></div>");
        $(id).before(cover);
    }

    function save_history() {
        var hid = Number($("#modal_history input[name='hid']").val());
        var complaints = $("#modal_history input[name='props.complaints']").val();
        var _break = $("#modal_history input[name='props.break']").val();
        var manipulation = $("#modal_history input[name='props.manipulation']").val();
        var sick = $("#modal_history input[name='props.sick']").val();
        var visit = $("#modal_history input[name='props.visit']").val();
        var allergy = $("#modal_history input[name='props.allergy']").val();
        var outer = $("#modal_history input[name='props.outer']").val();
        var gepatit = $("#modal_history input[name='props.gepatit']").prop('checked') !== false;
        var tuber = $("#modal_history input[name='props.tuber']").prop('checked') !== false;
        var pedi = $("#modal_history input[name='props.pedi']").prop('checked') !== false;
        var bite = $("#modal_history input[name='props.bite']").val();
        var mucous = $("#modal_history input[name='props.mucous']").val();
        var lab = $("#modal_history input[name='props.lab']").val();
        var diagnosis = $("#modal_history input[name='props.diagnosis']").val();

        var dent = [];

        $(".dent_state").each(function(idx) {
            var tr = $(this).attr("tr");
            var td = $(this).attr("td");
            var half = $(this).attr("half");
            var value = $(this).val();
            var item = { tr: tr, td: td, half: half, value: value };
            if(value !== "") {
                dent.push(item);
            }
        });

        var json = { id: hid, cid: {{patient.card.id}}, props: {
                complaints: complaints, break: _break, manipulation: manipulation, sick: sick, visit: visit, allergy: allergy, outer: outer,
                dent: dent,
                gepatit: gepatit, tuber: tuber, pedi: pedi, bite: bite, mucous: mucous, lab: lab, diagnosis: diagnosis
            }
        };
        var method = (hid > 0 ? "PUT" : "POST");
        $.ajax({
            url: "/api/history/",
            method: method,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(json)
        }).done(function(history) {
            if(method === "POST") {
                $('#history_list').append("<div class='list-item center' uid='{{card_uid.id}}' hid=" + history.id + " onclick=\"history_modal(this, '#modal_history')\"></div>");
            }
            $("#history_list .list-item[hid='" + history.id + "']").attr("did", history.contract.id);
            $("#history_list .list-item[hid='" + history.id + "']").text("Карта эпиданамнеза от " + history.date + "г. (договор №" + history.contract.number + " от " + history.contract.date + "г.)");
        });
        hide_modal('.modal');
    }

    function save_act() {
        var aid = Number($("#modal_act input[name='aid']").val());
        var did = Number($("#modal_act select[name='did']").val());
        var atid = Number($("#modal_act select[name='atid']").val());
        var doc = Number($("#modal_act select[name='doc']").val());
        var number = Number($("#modal_act input[name='number']").val());
        var date = $("#modal_act input[name='date']").val();

        var services = [];
        $("#services_list").find("tr[sid!='0']").each(function() {
            var sid = Number($(this).attr("sid"));
            var count = Number($(this).attr("count"));
            if(sid > 0 && count > 0) {
                services.push({sid: sid, count: count});
            }
        });

        var json = { aid: aid, did: did, atid: atid, doc: doc, number: number, date: date, services: services };
        hide_modal('.modal');
        $.ajax({
            url: "/api/act",
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(json)
        }).done(function(act) {
            $("#act_list").append("<div class=\"list-item center\" uid=\"{{act_uid.id}}\" aid=\"" + act.id + "\" number=\"" + act.number +
                    "\" date=\"" + act.date + "\" did=\"" + act.did + "\" atid=\"" + act.actType.id + "\" doc=\"" + act.doctor.id +
                    "\" onclick=\"act_modal(this, '#modal_act')\">Акт (" + act.actType.name + ") №" + act.number + " от " + act.date + "г.</div>");
        });
    }
</script>
</html>