<html>
<head>
    <title>Пациенты</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?"/>
    <link rel="stylesheet" href="/css/dent.css?"/>
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <style>

    </style>
</head>
<body>
<div class="container">
    <nav>
        <div id="menu" class="group">
            <a title="Расписание" class="button" href="/week/0"><i class="bi bi-calendar3"></i></a>
            <a title="Справочники" class="button" href="/reference/"><i class="bi bi-card-list"></i></a>
            <a title="Пациенты" class="button selected" href="/patient"><i class="bi bi-people"></i></a>
            <a title="Статистика" class="button" href="/statistics"><i class="bi bi-graph-up"></i></a>
        </div>
        <br>
        <span class="bold">Фильтр по ФИО:</span><br>
        <input type="text" class="text" name="search"/>
    </nav>
    <main class="reference" id="patients">
        <div class="list-item success bold" pid='0' onclick='patient_modal(this, "#modal_patient")'>Добавить пациента</div>
        {{#each patients}}
            <div class="list-item" pid='{{this.id}}' onclick='patient_modal(this, "#modal_patient")'>
                <span style="display:none;" class="fio">{{this.fio}}</span>
                <span style="display:none;" class="phone">{{this.phone}}</span>
                <span style="display:none;" class="address">{{this.address}}</span>
                <span style="display:none;" class="sex">{{this.male}}</span>
                <span style="display:none;" class="birth">{{this.birth}}</span>
                <span style="display:none;" class="find_out">{{this.findOut.id}}</span>
                <b>{{this.fio}}</b> ({{this.phone}}) {{this.address}}</div>
        {{/each}}
    </main>
</div>

{{> views/part/modal_patient }}

</body>
<script type="text/javascript">
    $("input[name='search']").on('input', function() {
        var item = $("#patients .list-item[pid!='0']");
        if ($(this).val().length > 1) {
            var r = new RegExp(".*" + RegExp.escape($(this).val().toLowerCase()) + ".*");
            item.each(function() {
                var s = $(this).find("span.fio");
                if(r.test(s.text().toLowerCase())) {
                    $(this).css("display", "block");
                } else {
                    $(this).css("display", "none");
                }
            });
        } else {
            item.each(function() {
                $(this).css("display", "block");
            });
        }
    });
</script>
</html>