<html>
<head>
    <title>Пациент</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?"/>
    <link rel="stylesheet" href="/css/dent.css?"/>
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <style>

    </style>
</head>
<body>
<div class="container">
<nav>
    <div id="menu" class="group">
        <a title="Расписание" class="button" href="/week/0"><i class="bi bi-calendar3"></i></a>
        <a title="Справочники" class="button" href="/reference/"><i class="bi bi-card-list"></i></a>
        <a title="Пациенты" class="button selected" href="/patient"><i class="bi bi-people"></i></a>
        <a title="Статистика" class="button disabled" href="/statistics"><i class="bi bi-graph-up"></i></a>
        <a title="Swagger" class="button disabled" href="/gcg/swagger-ui"><i class="bi bi-gear"></i></a>
    </div>
    <br>
    <div id="menu2">
        <div class="list-item selected" onclick="show_box(this)" box="primary_info">Основная информация</div>
        <div class="list-item" onclick="show_box(this)" box="history_list" cid="{{patient.card.id}}">Мед.карта №{{patient.card.number}} от {{patient.card.date}}г.</div>
        <div class="list-item" onclick="show_box(this)" box="contract_list">Договора</div>
        <div class="list-item" onclick="show_box(this)" box="act_list">Акты</div>
        <div class="list-item" onclick="show_box(this)">Прочие документы</div>
    </div>
</nav>
<main>
    <div class="box" id="primary_info" pid="{{patient.id}}">
        <div class="item" name="fio">ФИО:&nbsp;<b>{{patient.fio}}</b></div>
        <div class="item" name="phone">Телефон:&nbsp;<b>{{patient.phone}}</b></div>
        <div class="item" name="address">Адрес:&nbsp;<b>{{patient.address}}</b></div>
        <div class="item" name="findOut">Откуда узнал о компании:&nbsp;<b>{{patient.findOut.name}}</b></div>
        <div class="item">&nbsp;</div>
    </div>
    <div class="box" id="history_list" style="padding:0">
        <div class="list-item success bold center" hid="0" onclick="history_modal(this, '#modal_history')">Добавить карту эпиданамнеза</div>
        {{#each patient.card.history}}
            <div class="list-item center" hid="{{this.id}}" did="{{this.contract.id}}" onclick="history_modal(this, '#modal_history')">Карта эпиданамнеза от {{this.date}}г. (договор №{{this.contract.number}} от {{this.contract.date}}г.)</div>
        {{/each}}
    </div>
    <div class="box" id="contract_list" style="padding:0">
        {{#each patient.card.history}}
            <div class="list-item center" did="{{this.contract.id}}" >Договор №{{this.contract.number}} от {{this.contract.date}}г.</div>
        {{/each}}
    </div>
    <div class="box" id="act_list" style="padding:0">
        {{#each patient.card.history}}
            {{#each this.contract.acts}}
                <div class="list-item center" aid="{{this.id}}" >Акт ({{this.actType.name}}) №{{this.number}} от {{this.date}}г.</div>
            {{/each}}
        {{/each}}
    </div>
</main>
</div>

{{> views/part/modal_history }}

</body>
<script type="text/javascript">
    $('main .box').css('display', 'none');
    $('main .box#primary_info').css('display', 'block');

    function show_box(base) {
        $('#menu2 .list-item').removeClass('selected');
        $(base).addClass('selected');
        var box_id = $(base).attr('box');
        $('main .box').css('display', 'none');
        $('main .box#' + box_id).css('display', 'block');
    }
</script>
</html>