<html lang="ru">
<head>
    <title>Справочники</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?"/>
    <link rel="stylesheet" href="/css/dent.css?"/>
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body oncontextmenu="return false;">
<div class="container">
    <nav id="references_menu">
        <div id="menu" class="group">
            <a title="Расписание" class="button" href="/week/0" style="font-size: 14px;"><i class="bi bi-calendar3"></i></a>
            <a title="Справочники" class="button selected" href="/reference/" style="font-size: 14px;"><i class="bi bi-card-list"></i></a>
            <a title="Пациенты" class="button" href="/patient" style="font-size: 14px"><i class="bi bi-people"></i></a>
            <a title="Статистика" class="button" href="/statistics" style="font-size: 14px"><i class="bi bi-graph-up"></i></a>
        </div>
        <div class="list-item" reference="company" onclick="show_reference(this);">Организация</div>
        <div class="list-item" reference="schedule" onclick="show_reference(this);">График работы</div>
        <div class="list-item" reference="employee" onclick="show_reference(this);">Сотрудники</div>
        <div class="list-item" reference="act_type" onclick="show_reference(this);">Типы актов</div>
        <div class="list-item" reference="service" onclick="show_reference(this);">Услуги</div>
        <div class="list-item" reference="manipulation" onclick="show_reference(this);">Манипуляции</div>
        <div class="list-item" reference="document" onclick="show_reference(this);">Документы</div>
    </nav>
    <main id="main">
        <div id="company" style="display:none;" class="reference">
            {{#if company.length }}
            {{else}}
                <div class="list-item success bold" cid="0" onclick='company_modal(this, "#modal_company")'>Добавить организацию</div>
            {{/if}}
            {{#each company}}
                <div class='list-item' cid='{{this.id}}' address='{{this.address}}' director='{{this.director}}' onclick='company_modal(this, "#modal_company")'>{{this.name}}</div>
            {{/each}}
        </div>
        <div id="schedule" style="display:none;" class="reference">
            <div class="list-item success bold" sid="0" onclick='schedule_modal(this, "#modal_schedule")'>Добавить график работы</div>
            {{#each schedule}}
                <div class='list-item' sid='{{this.id}}' dow='{{this.dow}}' start='{{this.start}}' finish='{{this.finish}}' onclick='schedule_modal(this, "#modal_schedule")'>{{this.dayOfWeek}} {{this.timeStart}} - {{this.timeFinish}}</div>
            {{/each}}
        </div>
        <div id="employee" style="display:none;" class="reference">
            <div class="list-item success bold" eid="0" onclick='employee_modal(this, "#modal_employee")'>Добавить сотрудника</div>
            {{#each employee}}
                <div class='list-item' eid='{{this.id}}' cid='{{this.company.id}}' post='{{this.post}}' scheduled='{{this.scheduled}}' faired='{{this.faired}}' onclick='employee_modal(this, "#modal_employee")'>{{this.fio}}</div>
            {{/each}}
        </div>
        <div id="act_type" style="display:none;" class="reference">
            <div class="list-item success bold" aid="0" onclick='act_type_modal(this, "#modal_act_type")'>Добавить тип акта</div>
            {{#each act_type}}
                <div class='list-item' aid='{{this.id}}' onclick='act_type_modal(this, "#modal_act_type")'>{{this.name}}</div>
            {{/each}}
        </div>
        <div id="service" style="display:none;" class="reference">
            <div class="list-item success bold" sid="0" onclick='service_modal(this, "#modal_service")'>Добавить услугу</div>
            {{#each service}}
                <div class='list-item' sid='{{this.id}}' price='{{this.price}}' atid='{{this.actType.id}}' onclick='service_modal(this, "#modal_service")'>{{this.name}} (<b>{{this.actType.name}}</b>)</div>
            {{/each}}
        </div>
        <div id="manipulation" style="display:none;" class="reference">
            <div class="list-item success bold" mid="0" onclick='manipulation_modal(this, "#modal_manipulation")'>Добавить манипуляцию</div>
            {{#each manipulation}}
                <div class='list-item' mid='{{this.id}}' sid='{{this.sid}}' onclick='manipulation_modal(this, "#modal_manipulation")'>{{this.name}}</div>
            {{/each}}
        </div>
        <div id="document" style="display:none;" class="reference">
            <div class="list-item success bold" did="0" onclick='document_modal(this, "#modal_document")'>Добавить документ</div>
            {{#each document}}
                <div class='list-item' did='{{this.id}}' type='{{this.type}}' onclick='document_modal(this, "#modal_document")'>{{this.name}}</div>
            {{/each}}
        </div>
    </main>

    <div id="modal_company" class="box modal">
        <div class="header"><span id="header_text"></span><i class="bi bi-x button danger" style="float:right;padding:0" title="Закрыть" onclick="hide_modal('#modal_company');"></i></div>
        <input type="hidden" name="cid"/>
        <span class="bold">Название:</span><br>
        <input type="text" class="text" name="name"/>
        <br>
        <span class="bold">Адрес:</span><br>
        <input type="text" class="text" name="address"/>
        <br>
        <span class="bold">ФИО руководителя:</span><br>
        <input type="text" class="text" name="director"/>

        <div class="footer">
            <button class="success" onclick="save_company();">Сохранить</button>
            <!--button class="danger" onclick="remove_company();">Удалить</button-->
        </div>
    </div>
    <div id="modal_schedule" class="box modal">
        <div class="header"><span id="header_text"></span><i class="bi bi-x button danger" style="float:right;padding:0" title="Закрыть" onclick="hide_modal('#modal_schedule');"></i></div>
        <input type="hidden" name="sid"/>
        <span class="bold">День недели:</span><br>
        <select name="dow" class="text" style="width:100%;cursor:pointer;">
            <option value="0">Понедельник</option>
            <option value="1">Вторник</option>
            <option value="2">Среда</option>
            <option value="3">Черверг</option>
            <option value="4">Пятница</option>
            <option value="5">Суббота</option>
            <option value="6">Воскресенье</option>
        </select>
        <br>
        <span class="bold">Начало периода:</span><br>
        <input type="time" class="text" min="00:01" max="23:59" name="start"/>
        <br>
        <span class="bold">Окончание периода:</span><br>
        <input type="time" class="text" min="00:01" max="23:59" name="finish"/>

        <div class="footer">
            <button class="success" onclick="save_schedule();">Сохранить</button>
            <button class="danger" onclick="remove_schedule();">Удалить</button>
        </div>
    </div>
    <div id="modal_employee" class="box modal">
        <div class="header"><span id="header_text"></span><i class="bi bi-x button danger" style="float:right;padding:0" title="Закрыть" onclick="hide_modal('#modal_employee');"></i></div>
        <input type="hidden" name="eid"/>
        <span class="bold">Организация:</span><br>
        <select name="cid" class="text" style="width:100%;cursor:pointer;">
        </select>
        <br>
        <span class="bold">ФИО сотрудника:</span><br>
        <input type="text" class="text" name="fio"/>
        <br>
        <span class="bold">Должность:</span><br>
        <input type="text" class="text" name="post"/>
        <br>
        <div class="text" id="employee_schedule" style="cursor:pointer;">
            <input type="checkbox" name="schedule" style="margin:0;margin-top:3px;min-width:15px;width:15px;min-height:15px;"/>
            <div style="display:inline-block;margin-top:-3px;vertical-align: text-top;">Принимает пациентов</div>
        </div>
        <br>
        <div class="text" id="employee_faired" style="cursor:pointer;">
            <input type="checkbox" name="faired" style="margin:0;margin-top:3px;min-width:15px;width:15px;min-height:15px;"/>
            <div style="display:inline-block;margin-top:-3px;vertical-align: text-top;">Уволен</div>
        </div>
        <div class="footer">
            <button class="success" onclick="save_employee();">Сохранить</button>
            <button class="danger" onclick="remove_employee();">Удалить</button>
        </div>
    </div>
    <div id="modal_act_type" class="box modal">
        <div class="header"><span id="header_text"></span><i class="bi bi-x button danger" style="float:right;padding:0" title="Закрыть" onclick="hide_modal('#modal_act_type');"></i></div>
        <input type="hidden" name="aid"/>
        <span class="bold">Название акта:</span><br>
        <input type="text" class="text" name="name"/>

        <div class="footer">
            <button class="success" onclick="save_act_type();">Сохранить</button>
            <button class="danger" onclick="remove_act_type();">Удалить</button>
        </div>
    </div>
    <div id="modal_service" class="box modal">
        <div class="header"><span id="header_text"></span><i class="bi bi-x button danger" style="float:right;padding:0" title="Закрыть" onclick="hide_modal('#modal_service');"></i></div>
        <input type="hidden" name="sid"/>
        <span class="bold">Тип акта:</span><br>
        <select name="atid" class="text" style="width:100%;cursor:pointer;">
        </select>
        <br>
        <span class="bold">Название услуги:</span><br>
        <input type="text" class="text" name="name"/>
        <br>
        <span class="bold">Цена:</span><br>
        <input type="number" class="text" name="price" min="0" step="0.01"/>

        <div class="footer">
            <button class="success" onclick="save_service();">Сохранить</button>
            <button class="danger" onclick="remove_service();">Удалить</button>
        </div>
    </div>
    <div id="modal_manipulation" class="box modal">
        <div class="header"><span id="header_text"></span><i class="bi bi-x button danger" style="float:right;padding:0" title="Закрыть" onclick="hide_modal('#modal_manipulation');"></i></div>
        <input type="hidden" name="mid"/>
        <span class="bold">Услуга:</span><br>
        <select name="sid" class="text" style="width:100%;cursor:pointer;">
        </select>
        <br>
        <span class="bold">Название манипуляции:</span><br>
        <input type="text" class="text" name="name" placeholder="Название"/>
        <div class="footer">
            <button class="success" onclick="save_manipulation();">Сохранить</button>
            <button class="danger" onclick="remove_manipulation();">Удалить</button>
        </div>
    </div>
    <div id="modal_document" class="box modal">
        <div class="header"><span id="header_text"></span><i class="bi bi-x button danger" style="float:right;padding:0" title="Закрыть" onclick="hide_modal('#modal_document');"></i></div>
        <input type="hidden" name="did"/>
        <span class="bold">Тип шаблона:</span><br>
        <select name="type" class="text" style="width:100%;cursor:pointer;">
            <option value="act" selected>Акт</option>
            <option value="contract">Договор</option>
            <option value="card">Мед.карта</option>
            <option value="other">Прочее</option>
        </select>
        <br>
        <span class="bold">Название:</span><br>
        <input type="text" class="text" name="name"/>
        <br>
        <span class="bold">Файл шаблона (xml):</span><br>
        <input type="file" class="text" name="template" accept=".xml"/>

        <div class="footer">
            <button class="success" onclick="save_document();">Сохранить</button>
            <button class="danger" onclick="remove_document();">Удалить</button>
        </div>
    </div>
</div>
    <script type="text/javascript">

    </script>
</body>
</html>